body{
    padding:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(38, 39, 41);
    color: #fff;
}
section{
    max-width: 1920px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
div{
    padding: 20px;
}
h1,h2{
    text-decoration: underline;
    text-transform: capitalize;
}
h1{
    font-weight: bold;
}
h2{
    font-weight: lighter;
}
button{
    color: rgb(219, 236, 236);
    background-color: darkcyan;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 0;
}
button:hover{
    background-color: cadetblue;
}
form{
    border: #fff solid 1px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input{
    padding: 10px;
    margin: 10px;
    background-color: gray;
    color: #fff;
    border: #fff 1px solid;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}